.box {
    box-sizing: border-box;
    /* border: 1px solid red; */

    width: 100%;
    height: 300px;
    margin-top: -400px;
}

.box_content {
    box-sizing: border-box;
    /* border: 1px solid blue; */
    height: 50px;
    width: 95%;
    margin: 3px auto;

    color: white;

    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.box_content p {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: -0.011em;

    color: #B0B0B0;
}

.button_box {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 70px; 
    margin-bottom: 5px;
}

.box_content img {
    margin: 0;
    width: 40px;
    height: 40px;
}

.right:hover {
    content: url(./right_hover.png);
}

.right:active {
    content: url(./right_press.png);
}

.left:hover {
    content: url(./left_hover.png);
}

.left:active {
    content: url(./left_press.png);
}

.img_box {
    box-sizing: border-box;
    /* border: 1px solid white; */

    height: 230px;
    width: 95%;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    /* align-items: center; */

    gap: 20px;
}