.Footer {
    background-color: #111;
    width: 100%;
    height: 20%;

    display: flex;
    position:absolute;
    left: 0;
    bottom: 0;

    border-top: 1px solid rgba(119, 119, 119, 1);
}

.Footer > div {
    border-left: 1px solid rgba(119, 119, 119, 1);
    width: 30%;
}

.Footer .section2 {
    width: 40%;
}


.Footer .section1 .to_insta {
    padding-left: 20px;
    color : white;
}

.Footer .section1 .to_youtube {
    padding-left: 20px;
    color : white;
}

