@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");


.wrapper_signup {
    box-sizing: border-box;

    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.wrapper_signup .wrapper__signup__text {
    font-family: -apple-system, 
        BlinkMacSystemFont, 
        "Apple SD Gothic Neo", 
        "Pretendard Variable", 
        Pretendard, Roboto, 
        "Noto Sans KR", 
        "Segoe UI", 
        "Malgun Gothic", 
        "Apple Color Emoji", 
        "Segoe UI Emoji", 
        "Segoe UI Symbol", 
        sans-serif;
    line-height: 10px;
    
    box-sizing: border-box;
    /* border: 1px solid white; */
    
}

h2 {
    color: white;
    font-size: 24px;
    font-weight: bolder;
}

p {
    color: white;
    font-size: 12px;
    font-weight: regular;
}



.wrapper_signup .wrapper__signup__input {
    box-sizing: border-box;
    /* border: 1px solid red; */

    margin-top: 30px;
    
}

.wrapper__signup__input div {
    margin-bottom: 20px;
}

.wrapper__signup__input input {
    background-color: #111;
    color: white;

    border: 1px solid rgba(217, 217, 217, 1);
    border-radius: 5px;

    height: 54px;
    width: 294px;
    &:focus{
        outline-color:#FDBBA9;
    }
    box-sizing: border-box;
}

.birth::-webkit-calendar-picker-indicator {
    filter: invert(1); 
    position: absolute;
    right: 18px;
    
}

.wrapper__signup__input .CreateAcount {
    border-radius: 3px;
    width: 294px;
    height: 53px;
    background-color: rgba(58, 58, 58, 1);
    border: 1px solid rgba(231, 231, 231, 1);

    color: rgba(231, 231, 231, 1);

    &:hover{
        border: 1px solid var(--Ellipse-23-300, #FC9A7E);
        background: var(--Neutral-10, #3A3A3A);
        color:#FC9A7E;
    }
    &:active{
        border: 1px solid var(--Ellipse-23-500, #FA5628);
        background: var(--Neutral-10, #3A3A3A);
        color:#FA5628;
    }
}