
.wrapper_title {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 40px;
    color: rgba(176, 176, 176, 1);
    
    font-family: CHANEY;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: -1.1%;
    text-align: center;
}

h1 {
    font-size: 50px;
}

span {
    color: rgba(250, 86, 40, 1);
}

.wrapper_button {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    z-index: 2;
}

.find_out {
    width: 216px;
    height: 54px;
    background-color: rgba(250, 86, 40, 0.2);
    color: rgba(250, 86, 40, 1);
    font-size: 24px;
    font-family: 'Inter';
    font-weight: bold;
    box-sizing: border-box;
    border: 1px solid rgba(250, 86, 40, 1);

    padding-left: 44px;
    cursor: pointer;
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 12px;




    &:hover{
        border: 1px solid rgba(250, 86, 40, 1);
        background: rgba(250, 86, 40, 0.5);
        color: rgba(242, 241, 239, 1);
    }

    &:active{
        border: 1px solid var(--Ellipse-23-500, #FA5628);
        background: var(--Neutral-10, #3A3A3A);
        color:#FA5628;
    }
}

.picture {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
   
    align-items: center;
    margin-top: 50px;
    position: relative;
    
}

.front {
    position: relative;
    z-index: 2;
}

.back_1 {
    position: absolute;
    left: 50%;
    transform: translateX(-130%);
    bottom: -20px;
    z-index: 1;
}


.back_2 {
    position: absolute;
    right: 50%;
    transform: translateX(130%);
    bottom: -20px;
    z-index: 1;
}


.picture_26 {
    width: 588px;
    height: 598px;

    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 40%, rgb(0, 0, 0, 0));
}

.picture_27_1 {
    width: 496px;
    height: 483px;

    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0));

}

.picture_27_2 {
    width: 496px;
    height: 483px;

    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0));
}

.Info {
    line-height: 300%;
    letter-spacing: -0.011em;
    text-align: center;
    margin-top: 100px;

    color: #F2F1EF;
}

.Info h1 {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
}

.Info span {
    font-family: 'Chaney';
    font-size: 48px;
}

.song_banner {
    height: 230px;
    
    margin-top: 200px;
    margin-bottom: 150px;
    width: 100%;
    position: relative;

    display: flex; 
    flex-direction: row;
    overflow: hidden;    
}

.wrapper_test {
    height: 684px;

    display: flex;
    flex-direction: row;
}

.wrapper_test_title {
    color: white;
    width: 40%;

}

.wrapper_test_title p {
    margin-top: 40%;
    margin-left: 20px;

    font-family: 'Pretendard';
    font-size: 32px;
    font-weight: 600;
    line-height: 140%;
}

.wrapper_test_type {
    color: rgba(231, 231, 231, 1);
    width: 60%;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;

}

.section1 {
    display: flex;
    flex-direction: row;
}

.text {
    background-color: rgba(250, 86, 40, 0.2);
    color: rgba(250, 86, 40, 1);

    font-family: 'Chaney';
    font-size: 14px;
    line-height: 140%;
    padding: 5px 10px;
    display: inline-block;

    /* position: relative; */
    margin: 20px;
}

.wrapper_test_type p {
    text-align: left;
    margin-left: 20px;

    font-family: 'Pretendard';
    font-size: 22px;
    font-weight: 600;
    line-height: 130%;
}


.wrapper_keyword {
    width: 359px;
    height: 228px;
    margin: 6px;

    background-color: rgba(58, 58, 58, 1);
    border: 1px solid rgba(136, 136, 136, 1);
}

.wrapper_fortune {
    width: 483px;
    height: 228px;
    margin: 6px;

    background-color: rgba(58, 58, 58, 1);
    border: 1px solid rgba(136, 136, 136, 1);
}

.wrapper_mbti {
    width: 854px;
    height: 223px;
    margin-top: 10px;
    
    background-color: rgba(58, 58, 58, 1);
    border: 1px solid rgba(136, 136, 136, 1);
}

.keyword_box {
    width: 96px;
    height: 103px;
    background-color: rgba(217, 217, 217, 1);

    position: relative;

    margin-left: 230px;
    margin-top: 25px;
}

.fortune_box {
    width: 135px;
    height: 226px;
    background-color: rgba(217, 217, 217, 1);

    margin-left: 325px;
    margin-top: -98px;
}

.wrapper_box {
    width: 40%;
    height: 150px;
    position: relative;
    margin-left: 70%;
    margin-top: -27px;

    flex: none;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.wrapper_box div {
    width: 87px;
    height: 178px;

    margin-top: 15px;

    -ms-transform: skew(0deg, -20deg);
    -webkit-transform: skew(0deg, -20deg);
    transform: skew(0deg, -20deg);
}

.mbti_box1 {
    z-index: 1;
    margin-right: -40px;

    background-color: rgba(217, 217, 217, 1);
}

.mbti_box2 {
    z-index: 2;
    margin-right: -25px;

    background-color: rgba(217, 217, 217, 0.9);
}

.mbti_box3 {
    z-index: 1;
    background-color: rgba(217, 217, 217, 0.8);
}
